.global-styles {
    display: block;
    position: fixed;
    top: 0%;
    bottom: auto;
    left: 0%;
    right: auto
  }

  .w-embed:before,.w-embed:after {
    content: " ";
    grid-area: 1/1/2/2;
    display: table
  }
  
  .w-embed:after {
    clear: both
  }


  #w-node-_9a9dbff4-3152-b2dd-7c55-40245d26fae2-5d26fae2 {
    grid-area: 1/1/2/2
}

.dsg-navbar {
    z-index: 999;
    width: 100%;
    background-color: transparent;
    border-bottom: 1px solid rgba(47,49,48,.05);
    padding-top: 1.5em;
    padding-bottom: 1.5em
  }




  @media screen and (max-width: 991px) {
    .is-h5.is-txt-white-100 {
        font-size:1.5625em
    }
  
    .btn-sec--med.is-mb-align-centered {
        border-width: 1px
    }
  
    .is-h2 {
        text-indent: 3.5em
    }
  
    .is-h2.is-txt-align-center.is-max-width-45 {
        max-width: 33rem;
        font-size: 3em
    }
  
    .grid--6-6.is-content01 {
        grid-column-gap: 2em
    }
  
    .grid--6-6.is-hero {
        grid-column-gap: 2em;
        grid-row-gap: 4em;
        align-content: center
    }
  
    .grid--6-6.is-content02,.grid--6-6.is-cta-section {
        grid-column-gap: 2em;
        padding-left: 0
    }
  
    .grid--6-6.is-services,.grid--6-6.is-stories {
        grid-column-gap: 3em
    }
  
    .grid--6-6.is-terms {
        grid-row-gap: 4em
    }
  
    .container-col-8 {
        padding-left: 3em;
        padding-right: 3em
    }
  
    .is-pad-t-48.is-mb-pad-t-0 {
        padding-top: 0
    }
  
    .dsg-subnav-menu {
        border-radius: 0;
        flex-direction: row;
        margin-top: 0;
        padding-top: 1em;
        padding-bottom: 1em
    }
  
    .dsg-menu-button {
        border: 1px #cecece;
        border-radius: .5em;
        padding: 4px
    }
  
    .dsg-menu-button.w--open {
        background-color: transparent
    }
  
    .is-h1.is-max-70p {
        width: 70%
    }
  
    .grid--dsg-lists {
        grid-column-gap: 2em;
        grid-row-gap: 2em
    }
  
    .is-t-visible {
        display: block
    }
  
    .dsg-nav_menu {
        grid-row-gap: 1.5rem;
        background-color: #e5e5e5;
        border-bottom-right-radius: .5em;
        border-bottom-left-radius: .5em;
        flex-direction: column;
        justify-content: center;
        padding: 1.5rem;
        overflow: hidden;
        box-shadow: 0 20px 20px -20px #dad6d3
    }
  
    .is-t-hidden {
        display: none
    }
  
    .container-col-4,.container-col-12 {
        padding-left: 3em;
        padding-right: 3em
    }
  
    .is-margin-tb-48.is-mb-0 {
        width: auto;
        flex: none
    }
  
    .grid--2-2-2-2-2-2 {
        grid-template-columns: 1fr 1fr 1fr 1fr
    }
  
    .dsg-main-grid {
        grid-template-columns: 1fr
    }
  
    .container-col-6 {
        padding-left: 3em;
        padding-right: 3em
    }
  
    .dsg-subnav-link {
        font-size: .8rem
    }
  
    .grid--3-3-3-3 {
        grid-template-columns: 1fr 1fr;
        grid-auto-flow: row
    }
  
    .btn--prm-med.is-mb-fullwidth {
        border-radius: 50px
    }
  
    .is-txt-xlarge.is-txt-black-100 {
        font-size: 1.2rem
    }
  
    .container-col-10 {
        padding-left: 3em;
        padding-right: 3em
    }
  
    .dsg-sidebar {
        padding-left: 0;
        padding-right: 0;
        display: none
    }
  
    .grid--4-4-4 {
        grid-column-gap: 1.5em;
        grid-row-gap: 1.5em
    }
  
    .grid--4-4-4.is-footer {
        grid-column-gap: 2em;
        grid-row-gap: 2em;
        grid-template-columns: 1.5fr 1fr 1fr
    }
  
    .grid--4-4-4.is-why {
        grid-column-gap: 4em
    }
  
    .is-display {
        text-indent: 4em;
        font-size: 4.6em
    }
  
    .margin-top {
        margin-bottom: 0;
        margin-left: 0;
        margin-right: 0
    }
  
    .is-btn-t-fw {
        width: 100%
    }
  
    .dsg-nav-link {
        flex-direction: column;
        align-items: center;
        margin-left: 0;
        padding: 2em 5vw;
        display: flex
    }
  
    .cta-arrow {
        color: #dbf40c
    }
  
    .card01.is-consulting,.card01.is-design {
        color: var(--headings)
    }
  
    .card01.is-design:hover {
        background-size: cover
    }
  
    .card01.is-dev,.card01.is-retainer {
        color: var(--headings)
    }
  
    .content01_img {
        height: 100%
    }
  
    .content01_img.is-left,.content01_img.is-right,.btn-prm--med {
        width: 100%
    }
  
    .dsg-popup {
        bottom: 1.5em;
        right: 1.5em
    }
  
    .card05 {
        flex-direction: column;
        justify-content: space-between;
        display: flex
    }
  
    .card05_cta-icon {
        width: 2.7em
    }
  
    .card05_cta-link {
        border-bottom-width: 1px
    }
  
    .grid--start_bottom {
        grid-column-gap: 1.5em;
        grid-row-gap: 1.5em
    }
  
    .is-pill-outlined {
        outline-offset: 0px;
        border: 2px solid #001ee1;
        outline: 2px #001ee1;
        padding-left: .8rem;
        padding-right: .8rem;
        display: inline-block
    }
  
    .tab-icon {
        width: 18px;
        height: 18px;
        max-width: 80%;
        background-color: transparent
    }
  
    .is-success-text {
        font-size: 1rem
    }
  
    .content02_img-wrap {
        min-height: auto;
        justify-content: flex-start
    }
  
    .hero-img {
        height: 100%;
        min-height: auto;
        object-fit: none;
        object-position: 0% 50%;
        flex: none
    }
  
    .popup-wrap {
        align-items: flex-end;
        padding-left: 0;
        display: none
    }
  
    .close-icon {
        z-index: 10000;
        background-color: #fff;
        top: 1rem;
        bottom: auto;
        left: auto;
        right: 1rem
    }
  
    .popup-form {
        width: 100%;
        margin-bottom: 0;
        padding: 2rem 1.4rem
    }
  
    .popup-form-wrap {
        width: 100%;
        min-width: 15rem;
        align-items: stretch
    }
  
    .icon.card-icon.is-consulting {
        margin-left: 0
    }
  
    .cta-section {
        background-size: auto 4em
    }
  
    .content01_btn-wrap {
        padding-left: 3.313rem
    }
  
    .content01_btn-wrap.is-txt-align-center {
        padding-left: 0
    }
  
    .btn-sec--small.is-mb-align-centered {
        border-width: 1px
    }
  
    .content-mb-slide {
        align-items: flex-start
    }
  
    .is-pill-filled-red {
        display: inline-block
    }
  
    .swiper-component.slider1.mb {
        display: block
    }
  
    .swiper-slide {
        width: 50%;
        max-width: 28rem
    }
  
    .swiper-horizontal.ui {
        margin-top: 0;
        display: none
    }
  
    .tab-wrap {
        height: auto;
        flex-direction: column;
        display: none
    }
  
    .tabs-menu {
        width: 100%
    }
  
    .tab-link-wrap {
        min-height: 3rem;
        flex-direction: column;
        margin-bottom: .5rem
    }
  
    .tab-dropdown-text {
        z-index: 50;
        position: relative
    }
  
    .list {
        margin-top: 0;
        padding-left: 0
    }
  
    .lis-item {
        padding: .8rem
    }
  
    .tab-list-text {
        font-size: 1.2em
    }
  
    .tab-content-wrap {
        width: 100%;
        order: 1;
        margin-top: 2rem;
        margin-bottom: 2rem;
        margin-left: 0
    }
  
    .tab-img-1 {
        z-index: 0;
        width: auto;
        margin-bottom: -1rem
    }
  
    .tab-img-2 {
        width: 100%;
        flex: none;
        margin-top: auto;
        transform: scale(.8)
    }
  
    .tab-img-3 {
        min-width: 20rem;
        margin-top: auto;
        transform: scale(.8)
    }
  
    .mobile-slider-mask {
        height: 100%;
        overflow: visible
    }
  
    .slider-head {
        height: 100%;
        min-height: 20rem;
        flex-direction: column;
        justify-content: space-around;
        display: flex
    }
  
    .slider-content-wrap {
        grid-column-gap: 0rem;
        background-color: #fff;
        border-style: solid;
        border-color: rgba(18,18,18,.09);
        padding: .8rem;
        transform: translate(0)
    }
  
    .slide-2 {
        height: 100%;
        min-height: 50rem;
        padding-right: 0
    }
  
    .slide-4 {
        height: 100%;
        min-height: 50rem
    }
  
    .left-arrow-2,.right-arrow-2 {
        display: none
    }
  
    .mobile-slider-nav {
        opacity: .51;
        color: #121212;
        position: absolute;
        top: 0%;
        bottom: auto;
        left: 0%;
        right: 0%
    }
  
    .grid--numbers {
        grid-template-columns: 1fr 1fr;
        grid-auto-flow: row
    }
  
    .slider_grid--6-6.is-content01,.slider_grid--6-6.is-hero {
        grid-column-gap: 2em
    }
  
    .slider_grid--6-6.is-content02 {
        grid-column-gap: 2em;
        padding-left: 0
    }
  
    .menu_wrap {
        border-style: none;
        margin-bottom: 1.5rem;
        padding: 1em
    }
  
    .menu {
        grid-column-gap: 1rem;
        grid-row-gap: 1rem;
        flex-direction: column;
        display: flex
    }
  
    .menu_link {
        padding-top: 1em;
        padding-bottom: 1em;
        font-size: .97rem
    }
  
    .menu_link:hover {
        background-color: transparent
    }
  
    .menu_link.w--current {
        font-size: .97rem
    }
  
    .menu_link.w--current:hover {
        background-color: transparent
    }
  
    .menu_link-bg,.menu_shape {
        display: none
    }
  
    ._3columns01_headline-wrap {
        padding-right: 0
    }
  
    .is-txt-subheadline {
        top: 0
    }
  
    .is-txt-subheadline.is-about {
        max-width: 20%;
        top: .5rem
    }
  
    .case-top-wrap {
        margin-bottom: -1px
    }
  
    .is-url-wrap {
        margin-left: -1px;
        margin-right: -1px
    }
  
    .is-url-wrap.is-bg-black-50 {
        height: 1.2rem
    }
  
    .projects_item {
        min-height: auto;
        padding-bottom: 3rem
    }
  
    .cms-page_heading {
        font-size: 3em
    }
  
    .container.is-wide {
        height: 90vh
    }
  
    .container.is-popup {
        width: 90%
    }
  
    .button {
        font-size: 1.2em
    }
  
    .heading_wrap {
        padding: 6vw
    }
  
    .number-bg {
        top: 1.5em
    }
  
    .text-bg {
        width: 16em;
        bottom: 2.9em
    }
  
    .ui-bar {
        width: 50%
    }
  
    .select-element {
        width: 30%
    }
  
    .comment-element {
        top: 5em;
        right: 1em
    }
  
    .about-img {
        height: 100%;
        min-height: auto;
        object-position: 0% 50%;
        flex: none
    }
  
    .about_content-wrap,.contact_content-wrap {
        padding-right: 0
    }
  
    .projects_heading-wrap {
        margin-left: 2.5rem;
        margin-right: 2.5rem
    }
  
    .projects_img {
        min-height: auto
    }
  
    .projects_img.is-cases {
        min-height: 30em;
        display: block
    }
  
    .projects_img.is-cases.is-mb {
        display: none
    }
  
    .popup-projects_content {
        min-height: auto
    }
  
    .lightbox_section {
        padding-left: 0;
        padding-right: 0
    }
  
    .lightbox_close {
        margin-top: 2em
    }
  
    .lightbox_close:focus-visible {
        outline-offset: 0px;
        outline: 0 #00e
    }
  
    .lightbox_close[data-wf-focus-visible] {
        outline-offset: 0px;
        outline: 0 #00e
    }
  
    .lightbox_modal {
        padding-bottom: 8em
    }
  
    .case-study_heading {
        font-size: 10vw
    }
  
    .retainer-content {
        z-index: 10;
        position: relative
    }
  
    .retainer-table {
        right: 2em
    }
  
    .add {
        border-radius: 3em
    }
  
    .add_icon {
        width: 1.5em;
        height: 1.5em
    }
  
    .comment-block-outline {
        width: 100%
    }
  
    .comment-form-block {
        left: 135%
    }
  
    .about_headline-wrap {
        padding-right: 0
    }
  
    .services-content-wrap {
        padding-left: 2.5em;
        padding-right: 2.5em
    }
  
    .services-about_section {
        min-height: 45em;
        overflow: hidden
    }
  
    .marquee-text_component {
        font-size: 1.5vw
    }
  
    ._2columns01_content-wrap {
        padding-right: 0
    }
  
    .about-hero_img-wrap {
        min-height: auto
    }
  
    .tab-wrapper {
        width: 85%
    }
  
    .storie-content-wrap {
        padding-left: 2.5em;
        padding-right: 2.5em
    }
  
    .storie-bg-img.non-clickable {
        height: 4em
    }
  
    .is-txt-subheadline-white {
        top: 0
    }
  
    .testimonial-content_wrap {
        padding-right: 0
    }
  
    .about-hero-img {
        width: 9em;
        height: 10em
    }
  
    .about-im-wrap {
        width: 9em
    }
  
    .notes-wrap {
        width: 100%;
        height: 100%
    }
  
    .pattern-bg {
        padding-top: 32em
    }
  
    .note-wrap-4._4 {
        width: 37em;
        left: 65px
    }
  
    .note-wrap-3._3 {
        width: 40em;
        bottom: 31%;
        right: 20%
    }
  
    .note-wrap-1._1 {
        top: 25%
    }
  
    .note-wrap-2._2 {
        top: 26%;
        bottom: auto;
        left: 0%;
        right: auto
    }
  
    .note-wrap-5._5 {
        bottom: 36%;
        right: 32%
    }
  
    .case-video {
        height: 60vw
    }
  
    .notes-section {
        overflow: hidden
    }
  
    .case-testimonial-img {
        width: 3rem;
        height: 3rem
    }
  
    .tabs-nav-text {
        font-size: .8rem
    }
  
    .faq_headline-wrap {
        padding-right: 0
    }
  
    .move-task-img,.align-left-img,.change-align-img {
        display: none
    }
  
    .menu-animation {
        width: 2.2rem;
        height: 2.2rem;
        justify-content: center;
        align-items: center;
        display: flex
    }
  
    .home_headline-wrap {
        padding-right: 0
    }
  }
  
  @media screen and (max-width: 767px) {
    .is-pad-tb-144.is-mb-42 {
        padding-top:2.6rem;
        padding-bottom: 2.6rem
    }
  
    .is-btn-l-fw {
        width: 100%
    }
  
    .is-h5 {
        font-size: 1.1rem
    }
  
    .btn-sec--med {
        padding-top: 1.15rem;
        padding-bottom: 1.15rem;
        font-size: 1.1em
    }
  
    .btn-sec--med.is-mb-align-centered {
        margin-left: auto;
        margin-right: auto
    }
  
    .is-pad-tb-152.is-mb-64 {
        padding-top: 6em;
        padding-bottom: 6em
    }
  
    .dsg-table_row-spacing {
        grid-template-rows: auto;
        grid-template-columns: 1fr 1fr 1fr 1fr
    }
  
    .is-l-visible {
        display: block
    }
  
    .is-h6 {
        font-size: .9rem
    }
  
    .list--links.is-footer {
        align-items: center
    }
  
    .is-h2 {
        font-size: 2.5rem
    }
  
    .is-h2.is-txt-align-center.is-mb-left {
        text-align: left
    }
  
    .is-h2.is-txt-align-center.is-max-width-45 {
        max-width: 23rem;
        font-size: 2.5rem
    }
  
    .grid--6-6 {
        grid-template-columns: 1fr
    }
  
    .grid--6-6.is-hero {
        grid-column-gap: 4em;
        grid-row-gap: 4em;
        grid-template-rows: auto auto
    }
  
    .grid--6-6.is-content02,.grid--6-6.is-cta-section {
        grid-template-rows: auto auto
    }
  
    .grid--6-6.is-contact {
        grid-row-gap: 5em
    }
  
    .grid--6-6.is-services {
        grid-column-gap: 3em;
        align-items: start;
        overflow: visible
    }
  
    .grid--6-6.is-stories {
        grid-column-gap: 3em;
        grid-row-gap: 4em;
        overflow: visible
    }
  
    .container-col-8 {
        padding-left: 5vw;
        padding-right: 5vw
    }
  
    .is-pad-t-48.is-mb-pad-t-0 {
        padding-top: 1.5em
    }
  
    .is-pad-tb-96.is-stories {
        padding-top: 6em
    }
  
    .is-h1 {
        font-size: 2.3rem
    }
  
    .is-h1.is-max-70p {
        width: 100%
    }
  
    .grid--dsg-lists {
        grid-column-gap: 2em;
        grid-row-gap: 2em;
        grid-template-columns: 1fr 2.25fr
    }
  
    .grid--8-4 {
        grid-template-columns: 1fr 1fr
    }
  
    .is-h3 {
        font-size: 2rem
    }
  
    .is-txt-small.is-txt-green-100.is-dsg-sample-label {
        display: none
    }
  
    .is-txt-small.is-txt-align-center.is-mb-align-left {
        text-align: left
    }
  
    .container-col-4 {
        padding-left: 5vw;
        padding-right: 5vw
    }
  
    .container-col-12 {
        padding-left: 2em;
        padding-right: 2em
    }
  
    .is-margin-tb-48.is-mb-0 {
        flex: none
    }
  
    .grid--2-2-2-2-2-2 {
        grid-template-columns: 1fr 1fr 1fr
    }
  
    .dsg-table_header-headlines {
        grid-template-rows: auto;
        grid-template-columns: 1fr 1fr 1fr 1fr
    }
  
    .form-label {
        font-size: 1em
    }
  
    .grid--4-8 {
        grid-template-columns: 1fr 1fr
    }
  
    .container-col-6 {
        padding-left: 5vw;
        padding-right: 5vw
    }
  
    .is-h4 {
        font-size: 1.5rem
    }
  
    .dsg-subnav-link {
        flex: none;
        padding-left: .5em;
        padding-right: .5em
    }
  
    .btn--prm-med {
        padding-top: 1.15rem;
        padding-bottom: 1.15rem;
        font-size: 1.1em
    }
  
    .btn--prm-med.is-bg-red-100 {
        font-size: 1.1rem
    }
  
    .btn--prm-med.is-mb-fullwidth {
        width: 100%;
        padding-top: .55rem;
        padding-bottom: .55rem;
        font-size: .9rem
    }
  
    .is-margin-b-48.is-mb-16 {
        margin-bottom: 1em
    }
  
    .dsg-brand-link {
        padding-left: 0
    }
  
    .container-col-10 {
        padding-left: 5vw;
        padding-right: 5vw
    }
  
    .container-col-10.is-services {
        position: relative
    }
  
    .is-l-hidden {
        display: none
    }
  
    .dsg-sidebar {
        width: 100%;
        overflow: hidden
    }
  
    .is-txt-medium.is-dsg-description {
        max-width: none
    }
  
    .is-txt-medium.is-txt-align-center.is-max-500 {
        text-align: center
    }
  
    .form-wrapper {
        min-height: 32rem
    }
  
    .dsg-table-cell.is-dsg-aspect {
        width: 5em
    }
  
    .grid--4-4-4 {
        grid-column-gap: 2em;
        grid-row-gap: 3em;
        grid-template-columns: 1fr 1fr;
        justify-items: start
    }
  
    .grid--4-4-4.is-footer,.grid--4-4-4.is-why {
        grid-column-gap: 3em;
        grid-row-gap: 3em;
        grid-template-columns: 1fr 1fr
    }
  
    .dsg-table_row {
        grid-template-rows: auto auto;
        grid-template-columns: 1fr 1fr 1fr 1fr
    }
  
    .dsg-table_row.is-colors {
        grid-template-columns: 1fr 1fr 1fr;
        grid-auto-flow: row
    }
  
    .dsg-table_row.is-dsg-helper {
        grid-template-rows: auto;
        grid-template-columns: .6fr
    }
  
    .dsg-table_row.is-button {
        grid-template-columns: 1fr
    }
  
    .is-display {
        text-indent: 0;
        font-size: 2.6rem
    }
  
    .is-display.is-row-2 {
        font-size: 2.6rem
    }
  
    .is-display.is-row-3 {
        text-align: left
    }
  
    .margin-top {
        margin-bottom: 0;
        margin-left: 0;
        margin-right: 0
    }
  
    .is-pad-b-24.is-mb-4 {
        padding-bottom: 3em
    }
  
    .dsg-table_header-headlines-spacing {
        grid-template-rows: auto;
        grid-template-columns: 1fr 1fr 1fr 1fr
    }
  
    .is-margin-b-24 {
        margin-bottom: .5em
    }
  
    .dsg-table_header-colors {
        grid-template-rows: auto;
        grid-template-columns: 1fr 1fr 1fr 1fr
    }
  
    .hero02_content-wrapper {
        text-align: center;
        flex-direction: column;
        align-items: center;
        display: flex
    }
  
    .hero02_content-wrapper.is-mb-align-left {
        align-items: flex-start
    }
  
    .footer_branding {
        text-align: center;
        flex-direction: column;
        align-items: center;
        display: flex
    }
  
    ._3columns03_subline-wrap {
        max-width: none
    }
  
    .social-icon {
        width: 2.4em
    }
  
    .footer_social-wrap {
        width: 100%;
        max-width: 18em
    }
  
    .card01.is-consulting,.card01.is-design,.card01.is-dev {
        min-height: 11rem;
        background-color: #ddd
    }
  
    .card01.is-retainer {
        min-height: 11rem;
        background-color: #ddd;
        overflow: hidden
    }
  
    .content01_img.is-right {
        margin-left: 0
    }
  
    ._3columns03_headline-wrap {
        max-width: none;
        margin-bottom: 3em
    }
  
    ._3columsnso3_header-wrap {
        flex-direction: column
    }
  
    .card04 {
        text-align: center;
        flex-direction: column;
        align-items: center;
        display: flex
    }
  
    .card04.is-mb-left {
        text-align: left
    }
  
    .card04.is-mb-left.is-mb-hidden {
        justify-content: flex-start;
        align-self: flex-start
    }
  
    .card04.is-align-left {
        align-items: stretch
    }
  
    .card04.is-legal {
        flex-direction: row
    }
  
    .dsg-popup {
        max-width: 19em
    }
  
    .dsg-pop_cta {
        font-size: .85rem
    }
  
    .card05 {
        text-align: left;
        flex-direction: column;
        align-items: center;
        display: flex
    }
  
    .dsg-grid--start_top {
        grid-template-rows: auto auto;
        grid-template-columns: 1fr
    }
  
    .card05_cta-wrap {
        width: 100%
    }
  
    .card05_cta-link {
        font-size: 1.1rem
    }
  
    .fig2flow_cta-img {
        width: 26em
    }
  
    .grid--start_bottom {
        grid-column-gap: 2em;
        grid-row-gap: 2em;
        grid-template-columns: 1fr
    }
  
    .hero01_content-wrapper {
        text-align: center;
        flex-direction: column;
        align-items: center;
        display: flex
    }
  
    .hero-section {
        overflow: hidden
    }
  
    .content-hero_text-wrap {
        padding-right: 5vw
    }
  
    .is-pill-outlined {
        padding-left: .8rem;
        padding-right: .8rem;
        display: inline-block
    }
  
    .try-mail-input {
        width: 50%;
        max-width: 100%;
        min-height: 2.25rem;
        flex: 1;
        padding-top: .5rem;
        padding-bottom: .5rem;
        font-size: .875rem
    }
  
    .success-message {
        padding: 0;
        font-size: 10em
    }
  
    .tab-icon {
        max-width: 80%
    }
  
    .is-success-text {
        font-size: 1rem
    }
  
    .content02_img-wrap {
        justify-content: flex-start;
        padding-top: 0;
        position: relative;
        overflow: visible
    }
  
    .hero-img {
        object-position: 0% 50%;
        right: 0%
    }
  
    .popup-wrap {
        padding: 0 0;
        overflow: auto
    }
  
    .close-icon {
        top: .4rem;
        right: .3rem
    }
  
    .popup-form {
        border: 1px #000;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
        padding: 1.3rem 1.4rem .5rem
    }
  
    .popup-form-wrap {
        min-width: 40vw;
        grid-column-gap: 0rem;
        grid-row-gap: 0rem
    }
  
    .form-select {
        min-height: 2rem;
        margin-bottom: .3rem
    }
  
    .textarea {
        margin-bottom: 0
    }
  
    .accordion-item {
        padding-left: 1rem;
        padding-right: 1rem
    }
  
    .accordion-heading {
        text-align: left
    }
  
    .accordion-item-content {
        margin-right: 0
    }
  
    .cta-section {
        background-size: auto 6em
    }
  
    .content01_btn-wrap {
        padding-top: 3rem;
        padding-left: 2rem;
        padding-right: 2rem
    }
  
    .is-txt-subheading.is-txt-green-100.is-dsg-sample-label {
        display: none
    }
  
    .is-txt-subheading.is-txt-align-center.is-mb-align-left {
        text-align: left
    }
  
    .btn-sec--small {
        padding-top: 1.15rem;
        padding-bottom: 1.15rem;
        font-size: 1.1em
    }
  
    .btn-sec--small.is-mb-align-centered {
        margin-left: auto;
        margin-right: auto
    }
  
    .content_heading-wrap {
        padding-right: 5vw
    }
  
    .content-mb-slide {
        text-align: center;
        flex-direction: column;
        align-items: flex-start;
        display: flex;
        position: relative
    }
  
    .is-pill-filled-red {
        display: inline-block
    }
  
    .swiper-component.slider1.mb {
        margin-bottom: -2rem
    }
  
    .swiper-component.slider1.mb.is-tab {
        margin-bottom: 0
    }
  
    .swiper.swiper1 {
        margin-bottom: -2rem
    }
  
    .swiper-slide {
        width: 100%;
        max-width: 33rem
    }
  
    .swiper-slide.is-testimonial {
        flex: none
    }
  
    .swiper-horizontal.ui {
        margin-top: 0;
        display: none
    }
  
    .swiper-arrow.button-next {
        margin-top: -3rem
    }
  
    .tab-wrap {
        flex-direction: column
    }
  
    .tabs-menu {
        width: 100%
    }
  
    .tab-link-wrap {
        min-height: auto;
        grid-column-gap: .8rem;
        grid-row-gap: .8rem;
        flex: none;
        padding-bottom: .5rem;
        display: flex
    }
  
    .tab-dropdown-text {
        position: relative
    }
  
    .list {
        padding-left: 0
    }
  
    .lis-item {
        min-height: 4.5rem;
        background-color: #f3f4ff;
        align-items: center;
        padding-left: .8rem;
        padding-right: .8rem;
        display: flex
    }
  
    .tab-list-text {
        font-size: 1.4em;
        line-height: 1.4
    }
  
    .tab-content-wrap {
        width: 100%;
        order: 1;
        margin-left: 0
    }
  
    .tab-img-2 {
        min-width: 10rem;
        margin-top: auto
    }
  
    .tab-img-3 {
        min-width: 10rem
    }
  
    .slider-head {
        height: 100%;
        min-height: 15rem;
        justify-content: space-around;
        display: flex
    }
  
    .slide-2 {
        min-height: 40rem;
        padding-right: 0
    }
  
    .slide-4 {
        min-height: 40rem
    }
  
    .tab-list-subheading.is-txt-green-100.is-dsg-sample-label {
        display: none
    }
  
    .tab-list-subheading.is-txt-align-center.is-mb-align-left {
        text-align: left
    }
  
    .slider_grid--6-6 {
        grid-template-columns: 1fr
    }
  
    .slider_grid--6-6.is-hero,.slider_grid--6-6.is-content02 {
        grid-template-rows: auto auto
    }
  
    .marquee-2 {
        padding-top: 2rem;
        padding-bottom: 2rem
    }
  
    .marquee-content-2.scroll {
        min-width: 70%;
        flex: none;
        justify-content: space-around
    }
  
    .marquee-image {
        width: auto;
        height: 1.5rem;
        flex: none
    }
  
    ._3columns01_headline-wrap {
        max-width: none;
        margin-bottom: 0;
        padding-right: 0
    }
  
    .is-txt-subheadline {
        top: .2rem
    }
  
    .is-txt-subheadline.is-dsg-description {
        max-width: none
    }
  
    .is-txt-subheadline.is-txt-align-center.is-max-500 {
        text-align: center
    }
  
    .is-txt-subheadline.is-about {
        max-width: 100%;
        margin-bottom: 1rem;
        position: relative
    }
  
    .projects_item {
        min-height: auto
    }
  
    .projects_item:nth-child(2n+1) {
        padding-bottom: 3em;
        padding-right: 0
    }
  
    .projects_item:nth-child(2n) {
        padding-bottom: 3em;
        padding-left: 0
    }
  
    .container.is-popup {
        width: 95%
    }
  
    .project_link:hover {
        transform: none
    }
  
    .text-bg {
        width: 50%;
        bottom: 2.1em
    }
  
    .ui-bar {
        max-width: 36%
    }
  
    .select-element {
        width: 9em
    }
  
    .comment-element {
        width: 40%
    }
  
    .design-element {
        object-position: 100% 50%
    }
  
    .about-img {
        object-fit: fill;
        object-position: 0% 50%;
        right: 0%
    }
  
    .about_content-wrap {
        max-width: none;
        margin-bottom: 3em;
        padding-right: 0
    }
  
    .contact_content-wrap {
        max-width: none;
        grid-column-gap: 4em;
        grid-row-gap: 4em;
        margin-bottom: 3em;
        padding-right: 0
    }
  
    .contact-form-bg {
        width: 100%;
        height: 68%;
        top: auto;
        bottom: 0%;
        left: 0%;
        right: 0%
    }
  
    .popup_visual {
        width: 100%
    }
  
    .popup_layout {
        display: block
    }
  
    .popup_content {
        width: 100%;
        padding-top: 3em
    }
  
    .projects_img.is-cases {
        min-height: 25em
    }
  
    .popup_name {
        font-size: 4em
    }
  
    .popup_flex {
        flex-direction: column;
        justify-content: flex-end
    }
  
    .popup_rich {
        font-size: .9em
    }
  
    .popup_contain {
        max-width: 49em
    }
  
    .about-section {
        overflow: hidden
    }
  
    .popup-projects_content {
        min-height: 32.4em
    }
  
    .lightbox_section {
        padding-top: 1em
    }
  
    .lightbox_close {
        width: 3em;
        height: 3em
    }
  
    .case-study_img-wrap {
        background-color: transparent;
        border-radius: 0;
        padding: 0%
    }
  
    .is-txt-pop-heading {
        font-size: .9rem
    }
  
    .retainer-table {
        right: -5.1em
    }
  
    .add {
        border-radius: 3em;
        padding-left: 1em;
        padding-right: 1em
    }
  
    .main-contain {
        grid-template-columns: 1fr 1fr
    }
  
    .add_icon {
        width: 1.5em;
        height: 1.5em
    }
  
    .list-retainer {
        margin-bottom: 1em
    }
  
    .wrap.is-mb-hidden {
        display: block
    }
  
    .comment-block-outline {
        width: 99%
    }
  
    .about_headline-wrap {
        max-width: none;
        margin-bottom: 0;
        padding-right: 0
    }
  
    .services-content-wrap {
        padding: 4em 2em
    }
  
    .services-subheading-wrap {
        max-width: 100%
    }
  
    .marquee-text_component {
        font-size: 2vw
    }
  
    .marquee-text_component.is-2.is-mb-hidden,.marquee-text_component.is-mb-hidden {
        display: none
    }
  
    .marquee-text_text {
        font-size: 3em
    }
  
    .slider-arrow-wrap {
        padding-right: 1.5rem
    }
  
    .is-txt-medium-2 {
        text-align: center;
        font-size: 1rem
    }
  
    .is-txt-medium-2.is-txt-black-100,.is-txt-medium-2.is-mb-align-left {
        text-align: left
    }
  
    .is-h4-2 {
        font-size: 1.5rem
    }
  
    .list-item--check-2 {
        margin-bottom: .5rem
    }
  
    .is-txt-small-2.is-txt-black-100 {
        font-size: .875rem
    }
  
    ._2columns01_content-wrap {
        max-width: none;
        margin-bottom: 0;
        padding-right: 0
    }
  
    .about-hero_img-wrap {
        padding-top: 0;
        position: relative;
        overflow: visible
    }
  
    .webflow-expert-wrap {
        flex-wrap: wrap;
        justify-content: center
    }
  
    .is-experts-text.is-txt-green-100.is-dsg-sample-label {
        display: none
    }
  
    .is-experts-text.is-txt-align-center.is-mb-align-left {
        text-align: left
    }
  
    .tab-wrapper {
        max-width: 30em;
        margin-top: 0;
        transition: none
    }
  
    .tabs-demo-function {
        height: 40em
    }
  
    .storie-content-wrap {
        padding-top: 4em;
        padding-left: 2em;
        padding-right: 2em
    }
  
    .storie-bg-img.non-clickable {
        height: 6em
    }
  
    .is-txt-subheadline-white {
        top: .2rem
    }
  
    .is-txt-subheadline-white.is-dsg-description {
        max-width: none
    }
  
    .is-txt-subheadline-white.is-txt-align-center.is-max-500 {
        text-align: center
    }
  
    .testimonial-content_wrap {
        max-width: none;
        margin-bottom: 0;
        padding-right: 0
    }
  
    .about-hero-img {
        width: 7em;
        height: 8em
    }
  
    .about-im-wrap {
        width: 7em
    }
  
    .notes-wrap {
        grid-row-gap: 3em;
        flex-direction: column;
        display: flex
    }
  
    .pattern-bg {
        z-index: -1;
        width: 100%;
        position: absolute
    }
  
    .note-wrap-4._4 {
        display: none;
        position: static;
        bottom: -2%;
        transform: none
    }
  
    .note-wrap-3._3 {
        width: 100%;
        display: none;
        position: static;
        bottom: 22%;
        right: 9%
    }
  
    .note-wrap-1._1 {
        width: 100%;
        position: static;
        right: -24%;
        transform: none
    }
  
    .note-wrap-1._1:active {
        transform: none
    }
  
    .note-wrap-2._2 {
        width: 100%;
        position: static;
        top: 35%;
        left: -8%;
        transform: none
    }
  
    .note-wrap-2._2:active {
        transform: none
    }
  
    .note-wrap-5._5 {
        width: 100%;
        align-items: center;
        padding-right: 5em;
        position: static;
        bottom: 0%
    }
  
    .is-case-h1 {
        font-size: 1.5rem
    }
  
    .case-video {
        display: none
    }
  
    .case-testimonial-wrap {
        max-width: 90%
    }
  
    .is-txt-case-contact-bg {
        font-size: 18em
    }
  
    .tabs-nav-text {
        font-size: .8rem
    }
  
    .faq_headline-wrap {
        max-width: none;
        margin-bottom: 0;
        padding-right: 0
    }
  
    .is-h3-faq {
        text-align: center;
        text-indent: 0;
        font-size: 2rem
    }
  
    .service-scroll-section {
        margin-bottom: -5em
    }
  
    .about-img-wrap {
        justify-content: flex-start
    }
  
    .about-img-right.is-2 {
        /* display: flex; */
        width: 20em;
        height: 20em;
        background-position: 100% 0;
        margin-right: auto;
        /* align-self: center; */
    }
  
    .about-img-home {
        display: flex;
        width: 25em;
        height: 25em;
        background-position: 100% 0;
        margin-left: 1.25em;
    }
  
    .home_headline-wrap {
        max-width: none;
        margin-bottom: 0;
        padding-right: 0
    }
  }
  
  @media screen and (max-width: 300px) {
    .is-pad-tb-144.is-mb-42 {
        padding-top:4em;
        padding-bottom: 4em
    }
  
    .form-field-wrapper {
        margin-top: .15rem;
        margin-bottom: .15rem
    }
  
    .is-btn-p-fw {
        width: 100%
    }
  
    .is-h5 {
        font-size: 1.1rem
    }
  
    .form-checkbox {
        flex-wrap: nowrap;
        align-items: flex-start
    }
  
    .btn-sec--med.is-mb-align-centered {
        margin-left: auto;
        margin-right: auto
    }
  
    .is-pad-tb-152.is-mb-64 {
        padding-top: 6em;
        padding-bottom: 6em
    }
  
    .is-pad-b-128 {
        padding-bottom: 6em
    }
  
    .form-checkbox-icon {
        flex: none
    }
  
    .dsg-table_row-spacing {
        background-color: #1d1d1d
    }
  
    .is-h6 {
        font-size: .9rem
    }
  
    .is-h2 {
        font-size: 2.5em
    }
  
    .is-h2.is-txt-align-center.is-max-width-45 {
        max-width: 23rem;
        font-size: 2.4em
    }
  
    .dsg-table.is-dsg-helpers.is-dsg-aspect {
        grid-template-rows: .25fr;
        grid-auto-rows: 1fr
    }
  
    .grid--6-6.is-content02 {
        padding-left: 1rem;
        padding-right: 1rem
    }
  
    .grid--6-6.is-about {
        grid-column-gap: 4em;
        grid-row-gap: 4em
    }
  
    .grid--6-6.is-contact {
        grid-row-gap: 5em
    }
  
    .richt-text {
        font-size: 1rem
    }
  
    .richt-text ul {
        padding-left: 1em
    }
  
    .is-pad-t-48.is-mb-pad-t-0 {
        padding-top: 0
    }
  
    .form-message-success {
        min-height: 40rem
    }
  
    .is-pad-tb-64.is-mb-tb-24 {
        padding-top: 4em;
        padding-bottom: 4em
    }
  
    .is-p-hidden {
        display: none
    }
  
    .is-pad-tb-96.is-stories {
        padding-top: 6em
    }
  
    .is-h1 {
        font-size: 3.2em
    }
  
    .is-h1.is-max-70p {
        width: auto;
        font-size: 3em;
        background-color: black;
        
    }
  
    .grid--dsg-lists {
        grid-template-rows: auto auto auto;
        grid-template-columns: 1fr;
        grid-auto-flow: row
    }
  
    .grid--8-4 {
        grid-template-columns: 1fr
    }
  
    .is-h3 {
        text-indent: 3em;
        font-size: 2.7em
    }
  
    .is-txt-xsmall.is-formfield-headline {
        font-size: 1em
    }
  
    .is-txt-small {
        font-size: 1rem
    }
  
    .is-txt-small.is-txt-bold.is-success {
        font-size: .9rem;
        line-height: 1.4
    }
  
    .is-txt-small.is-txt-white-75,.is-txt-normal.is-max-400.is-txt-white-75 {
        font-size: 1rem
    }
  
    .is-margin-tb-48.is-mb-tb-0 {
        margin-top: 0;
        margin-bottom: 3em
    }
  
    .is-margin-tb-48.is-mb-0 {
        margin-bottom: 0
    }
  
    .grid--2-2-2-2-2-2 {
        grid-template-columns: 1fr 1fr
    }
  
    .dsg-table_header-headlines.is-dsg-typo {
        grid-template-columns: 1fr 1fr 1fr
    }
  
    .is-txt-large {
        font-size: 1.5em
    }
  
    .grid--4-8 {
        grid-template-columns: 1fr
    }
  
    .is-h4 {
        font-size: 1.5em
    }
  
    .grid--3-3-3-3 {
        grid-template-columns: 1fr
    }
  
    .btn--prm-med.is-form-submit {
        font-size: 1.4em
    }
  
    .btn--prm-med.is-bg-red-100 {
        z-index: 200;
        padding-top: .625rem;
        padding-bottom: .625rem;
        font-size: .875rem;
        position: relative
    }
  
    .btn--prm-med.is-mb-fullwidth {
        width: 100%;
        padding-top: .625rem;
        padding-bottom: .625rem;
        font-size: .875rem
    }
  
    .form-checkbox-label {
        font-size: .9rem
    }
  
    .dsg-brand-link {
        padding-left: 0
    }
  
    .is-p-visible {
        display: block
    }
  
    .is-txt-medium.is-max-80 {
        width: 100%;
        font-size: 1.45em
    }
  
    .is-txt-medium.is-txt-align-center.is-max-500.is-mb-align-left {
        text-align: left
    }
  
    .dsg-table-cell {
        background-color: #1d1d1d
    }
  
    .form-input.is-text-area {
        min-height: 9rem
    }
  
    .is-margin-b-16.is-mb-fullwidth,.is-margin-b-16.wrap-flex-hor-c.is-mb-fullwidth {
        align-self: stretch
    }
  
    .grid--4-4-4 {
        grid-column-gap: 1em;
        grid-row-gap: 3em;
        grid-template-rows: auto auto;
        grid-template-columns: 1fr;
        grid-auto-flow: row;
        justify-items: stretch
    }
  
    .grid--4-4-4.is-footer {
        grid-column-gap: 1em;
        grid-row-gap: 1em;
        grid-template-columns: 1fr;
        grid-auto-flow: row
    }
  
    .grid--4-4-4.is-why {
        grid-template-columns: 1fr;
        grid-auto-flow: row
    }
  
    .dsg-table_row.is-colors {
        grid-template-rows: auto;
        grid-template-columns: 1fr
    }
  
    .dsg-table_row.is-dsg-typo {
        grid-template-columns: 1fr 1fr 1fr
    }
  
    .is-display {
        font-size: 3.2em;
        line-height: 1.2
    }
  
    .is-display.is-row-2 {
        font-size: 3em;
        line-height: 1.2
    }
  
    .is-display.is-row-3 {
        line-height: 1.2
    }
  
    .margin-top {
        margin-bottom: 0;
        margin-left: 0;
        margin-right: 0
    }
  
    .is-pad-b-24.is-mb-4 {
        padding-bottom: 3em
    }
  
    .list-item_icon-wrap.is-txt-green-100 {
        padding-top: 0
    }
  
    .dsg-navbar {
        padding-top: 1em;
        padding-bottom: 1em
    }
  
    .is-margin-b-24 {
        margin-bottom: 2em
    }
  
    .footer_branding {
        align-items: flex-start
    }
  
    .card01.is-consulting,.card01.is-design {
        min-height: 13rem;
        background-color: #ddd;
        padding: 1.5em
    }
  
    .card01.is-dev {
        min-height: 13rem;
        background-color: #ddd;
        border-right-style: solid;
        padding: 1.5em
    }
  
    .card01.is-dev:hover {
        padding: 1.5em
    }
  
    .card01.is-retainer {
        min-height: 13rem;
        background-color: #ddd;
        padding: 1.5em
    }
  
    .dsg-projects-headline-wrap {
        text-align: center;
        flex-direction: column;
        align-items: center
    }
  
    ._3columsnso3_header-wrap {
        text-align: left;
        flex-direction: column;
        align-items: flex-start
    }
  
    .card04.is-mb-left.is-mb-hidden {
        display: none
    }
  
    .card04.is-mb-left.is-dt-hidden {
        display: block
    }
  
    .card04.is-align-left {
        grid-row-gap: .25rem
    }
  
    .card04.is-legal {
        flex-direction: row
    }
  
    .dsg-popup {
        z-index: 99999;
        width: 100%;
        max-width: none;
        border-radius: 0;
        grid-template-rows: auto;
        grid-template-columns: 1fr 1fr;
        justify-content: center;
        bottom: -2px;
        right: auto
    }
  
    .dsg-popup_logo {
        width: 1.8em
    }
  
    .dsg-pop_cta {
        font-size: .7rem
    }
  
    .dsg-hor-p-scroll-wrap {
        width: 100%;
        max-width: 90vw;
        overflow: scroll
    }
  
    .dsg-grid--start_top {
        grid-template-columns: 1fr
    }
  
    .card05_cta-link {
        font-size: 1.3em
    }
  
    .grid--start_bottom {
        grid-template-rows: auto auto auto;
        grid-template-columns: 1fr;
        grid-auto-flow: row
    }
  
    .is-pill-outlined {
        border-radius: 40px;
        padding-left: .4rem;
        padding-right: .4rem
    }
  
    .try-mail-input {
        width: auto;
        flex: 1
    }
  
    .success-message {
        width: auto;
        padding: 0;
        font-size: 6em
    }
  
    .tab-icon {
        width: 24px;
        height: 24px;
        max-width: 100%;
        background-color: transparent
    }
  
    .is-success-text {
        font-size: .9rem
    }
  
    .content02_img-wrap {
        width: 100%;
        min-height: auto
    }
  
    .hero-img {
        object-fit: contain;
        align-self: stretch
    }
  
    .popup-wrap {
        padding-top: 0;
        padding-bottom: 0
    }
  
    .close-icon {
        top: .5rem;
        right: .5rem
    }
  
    .popup-form {
        padding: 3em 2.3em 1rem
    }
  
    .popup-form-wrap {
        grid-column-gap: .1em;
        grid-row-gap: .1em
    }
  
    .form-select {
        min-height: 2.5em;
        margin-bottom: .45rem
    }
  
    .textarea {
        margin-bottom: .2em
    }
  
    .is-tag {
        font-size: .625rem
    }
  
    .accordion-wrapper {
        margin-top: 0
    }
  
    .accordion-item {
        padding-left: 1rem;
        padding-right: 1rem
    }
  
    .icon.card-icon {
        height: 3rem
    }
  
    .icon.card-icon.is-consulting {
        width: 1.5rem;
        height: 1.5rem
    }
  
    .icon.card-icon {
        width: 2rem;
        height: 2rem;
        justify-content: center;
        align-items: center;
        display: flex
    }
  
    .cta-section {
        background-size: auto 4.5em
    }
  
    .content01_btn-wrap {
        padding-top: 2rem;
        padding-left: 1.7rem;
        padding-right: 1.7rem
    }
  
    .is-txt-subheading.is-txt-bold.is-success {
        font-size: .9rem;
        line-height: 1.4
    }
  
    .is-txt-subheading.is-txt-white-75 {
        font-size: 1rem
    }
  
    .btn-sec--small.is-mb-align-centered {
        margin-left: auto;
        margin-right: auto
    }
  
    .marquee-gradient,.marquee-gradient.is-right {
        width: 5em
    }
  
    .content-mb-slide {
        position: static
    }
  
    .swiper-component.slider1.mb {
        margin-bottom: 0
    }
  
    .swiper.swiper1 {
        margin-bottom: -2rem
    }
  
    .swiper-slide {
        align-self: center
    }
  
    .swiper-slide.is-testimonial {
        flex: none
    }
  
    .swiper-arrow.button-prev {
        margin-top: -1rem
    }
  
    .swiper-arrow.button-next {
        margin-top: -3rem
    }
  
    .tab-link {
        padding: .75rem
    }
  
    .tab-link.w--current {
        padding-left: .75rem;
        padding-right: .75rem
    }
  
    .tab-link-wrap {
        flex: 0 auto;
        margin-bottom: auto;
        display: flex
    }
  
    .tab-dropdown-text {
        margin-top: 1rem;
        position: static;
        top: 0
    }
  
    .list {
        margin-bottom: 0;
        padding-left: 0
    }
  
    .lis-item {
        z-index: 100;
        min-height: 4.9rem;
        background-color: #f3f4ff;
        align-items: center;
        padding-left: .8rem;
        padding-right: .8rem;
        display: flex;
        position: static;
        top: -.5rem
    }
  
    .tab-list-text {
        font-size: 1.3em;
        line-height: 1.3
    }
  
    .tab-img-1 {
        margin-top: auto;
        margin-left: auto;
        margin-right: auto;
        transform: none
    }
  
    .tab-img-2 {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        transform: none
    }
  
    .tab-img-3 {
        margin-left: auto;
        margin-right: auto;
        transform: none
    }
  
    .mobile-slider-mask {
        padding-left: 2rem;
        padding-right: 2rem
    }
  
    .slider-head {
        min-height: 37rem;
        grid-row-gap: 2rem;
        justify-content: space-around
    }
  
    .slider-content-wrap {
        border-color: rgba(18,18,18,.07);
        padding: .75rem;
        transform: none
    }
  
    .slider-content-wrap.w--current {
        padding-left: .75rem;
        padding-right: .75rem
    }
  
    .slide-2 {
        min-height: 37rem;
        padding-left: 1rem;
        padding-right: 1rem
    }
  
    .slide-4 {
        min-height: 30rem;
        padding-left: 1rem;
        padding-right: 1rem
    }
  
    .right-arrow-2 {
        display: none
    }
  
    .mobile-slider-nav {
        top: 0%;
        bottom: auto;
        left: 0%;
        right: 0%
    }
  
    .tab-list-subheading.is-txt-bold.is-success {
        font-size: .9rem;
        line-height: 1.4
    }
  
    .tab-list-subheading.is-txt-white-75 {
        font-size: 1rem
    }
  
    .grid--numbers {
        grid-template-columns: 1fr
    }
  
    .grid {
        overflow: hidden
    }
  
    .utility-page-content {
        width: 80%
    }
  
    .menu_wrap {
        font-size: 3vw
    }
  
    .marquee-2 {
        grid-column-gap: 2.6rem;
        padding-top: 1rem;
        padding-bottom: 1rem
    }
  
    .marquee-content-2.scroll {
        grid-column-gap: 2.5rem
    }
  
    .marquee-image {
        height: 1.2rem;
        border-radius: 0
    }
  
    ._3columns01_headline-wrap {
        margin-bottom: 0;
        padding-right: 0
    }
  
    .is-txt-subheadline {
        top: 0
    }
  
    .is-txt-subheadline.is-max-80 {
        width: 100%;
        font-size: 1.45em
    }
  
    .is-txt-subheadline.is-txt-align-center.is-max-500.is-mb-align-left {
        text-align: left
    }
  
    .projects_content.is-popup {
        background-size: auto 3rem
    }
  
    .visual_wrap {
        margin-top: .3rem
    }
  
    .is-url-wrap {
        padding-left: 3em;
        padding-right: 3em
    }
  
    .projects_item {
        min-height: auto;
        padding-bottom: 4em
    }
  
    .number-bg {
        top: .5em;
        left: 1em
    }
  
    .text-bg {
        width: 17em;
        bottom: 1.9em;
        left: 1em
    }
  
    .design-element {
        width: 10.3em
    }
  
    .about-img {
        object-fit: contain;
        align-self: stretch
    }
  
    .about_content-wrap {
        padding-right: 0
    }
  
    .footer-link-wrap {
        grid-column-gap: 1.5rem;
        grid-row-gap: 1rem;
        flex-wrap: wrap;
        justify-content: flex-start
    }
  
    .contact_content-wrap {
        padding-right: 0
    }
  
    .contact-form-bg {
        height: 71%
    }
  
    .form-field-row {
        flex-direction: column
    }
  
    .projects_heading-wrap {
        margin-left: 0;
        margin-right: 0
    }
  
    .projects_img.is-cases {
        min-height: 10em
    }
  
    .projects_img.is-cases.is-mb {
        display: block
    }
  
    .contact-detail-wrap {
        padding-bottom: 1rem
    }
  
    .popup_name {
        font-size: 3.4em
    }
  
    .popup-projects_content {
        min-height: 18.3em
    }
  
    .lightbox_section {
        padding-top: 1em;
        display: none
    }
  
    .lightbox_close {
        background-color: #000
    }
  
    .retainer-table {
        opacity: .5;
        top: 1.9em;
        right: -4.1em
    }
  
    .main-contain {
        grid-template-columns: 1fr
    }
  
    .add_icon {
        width: 1.5em;
        height: 1.5em
    }
  
    .wrap {
        border-width: 1px
    }
  
    .wrap.is-mb-hidden {
        display: none
    }
  
    .ui-bar-wrap {
        top: 2.5rem
    }
  
    .ui-bar-element {
        border: 1px solid #b6bcbf;
        border-right-style: none
    }
  
    .ui-bar-icon-left {
        border-radius: 0%
    }
  
    .comment-block-outline {
        width: 99%;
        height: 5em;
        border-style: dotted
    }
  
    .comment-form-input {
        border-width: 1px
    }
  
    .comment-form-block {
        top: 95%
    }
  
    .about_headline-wrap {
        margin-bottom: 0;
        padding-right: 0
    }
  
    .services-content-wrap {
        padding: 2em
    }
  
    .marquee-text_text {
        font-size: 5em
    }
  
    .slider-arrow-wrap {
        flex-direction: row;
        order: 1;
        padding-top: 1rem;
        padding-right: 0
    }
  
    .card-container {
        flex-direction: column
    }
  
    .is-txt-medium-2 {
        text-align: center;
        font-size: 1rem
    }
  
    .is-txt-medium-2.is-mb-align-left {
        text-align: left
    }
  
    .card {
        padding-right: 2.1em
    }
  
    .is-h4-2 {
        font-size: 1.5em
    }
  
    .is-txt-small-2 {
        font-size: .85rem
    }
  
    .is-txt-small-2.is-txt-black-100 {
        font-size: .875rem
    }
  
    ._2columns01_content-wrap {
        margin-bottom: 0;
        padding-right: 0
    }
  
    .about-hero_img-wrap {
        min-height: auto
    }
  
    .webflow-expert-wrap {
        flex-direction: column;
        align-content: flex-start;
        align-items: center;
        padding-left: 1em;
        padding-right: 1em
    }
  
    .is-experts-text {
        margin-left: 0;
        font-size: .87rem
    }
  
    .is-experts-text.is-txt-bold.is-success {
        font-size: .9rem;
        line-height: 1.4
    }
  
    .is-experts-text.is-txt-white-75 {
        font-size: 1rem
    }
  
    .tab-wrapper {
        width: 100%
    }
  
    .tab-wrapper:hover {
        box-shadow: none
    }
  
    .tabs-demo-function {
        height: 40em
    }
  
    .storie-content-wrap {
        padding-left: 2em;
        padding-right: 2em
    }
  
    .storie-bg-img.non-clickable {
        height: 4rem
    }
  
    .is-txt-subheadline-white {
        top: 0
    }
  
    .is-txt-subheadline-white.is-max-80 {
        width: 100%;
        font-size: 1.45em
    }
  
    .is-txt-subheadline-white.is-txt-align-center.is-max-500.is-mb-align-left {
        text-align: left
    }
  
    .testimonial-content_wrap {
        margin-bottom: 0;
        padding-right: 0
    }
  
    .about-im-wrap {
        width: 7.1em;
        display: none
    }
  
    .row-2 {
        grid-column-gap: .4em;
        flex-wrap: wrap
    }
  
    .pattern-bg {
        padding-top: 45em
    }
  
    .note-wrap-4._4 {
        left: 0
    }
  
    .note-wrap-1._1 {
        grid-row-gap: 3em;
        cursor: auto;
        flex-direction: column;
        position: relative;
        top: 0%;
        right: 0%
    }
  
    .note-wrap-2._2 {
        grid-row-gap: 2em;
        cursor: auto;
        flex-direction: column;
        position: relative;
        top: 0%;
        left: 0%
    }
  
    .note-wrap-5._5 {
        width: 100%;
        padding-right: 1.5em;
        right: 4%
    }
  
    .is-case-h1 {
        font-size: 1.5em
    }
  
    .social-link-wrap {
        grid-column-gap: 1.5rem;
        grid-row-gap: 1rem;
        flex-wrap: wrap;
        justify-content: flex-start
    }
  
    .is-txt-case-contact.non-clickable {
        width: 90%;
        font-size: 3.5em
    }
  
    .is-txt-case-contact-bg {
        font-size: 18.6em
    }
  
    .tabs-nav-text {
        text-align: left;
        font-size: 1rem
    }
  
    .tabs-nav-item,.tabs-nav-item.w--current {
        width: 100%
    }
  
    .tabs-nav-item._03.w--current {
        background-position: 94%;
        background-repeat: no-repeat;
        background-size: auto;
        order: -1;
        padding-top: 1.2em;
        padding-bottom: 1.2em;
        padding-left: 1.5em
    }
  
    .tabs-menu-wrapper {
        width: 100%;
        grid-row-gap: .5rem;
        flex-direction: column;
        justify-content: flex-start;
        overflow: hidden
    }
  
    .faq_headline-wrap {
        margin-bottom: 0;
        padding-right: 0
    }
  
    .is-h3-faq {
        font-size: 2.5em
    }
  
    .about-img-right.is-2 {
        width: 30em;
        height: 30em
    }
  
    .about-img-home {
        width: 100%;
        height: 30em;
        background-position: 50% 0
    }
  
    .home_headline-wrap {
        margin-bottom: 0;
        padding-right: 0
    }
  
    .text {
        font-size: 4.5em
    }
  }